# Virtual environments
.venv/
.venv-1/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Environment variables
.env
